{% extends "shared/_admin_layout.html" %}

{% block sidebar %}
    {% include "shared/_admin_sidebar.html" %}
{% endblock %}

{% block title %}
حذف کاربر
{% endblock %}


{% block content %}

<div class="container mt-5">

    <div class="card shadow-sm border-danger">

        <div class="card-header bg-danger text-white text-center">

            <h5 class="mb-0">
                حذف کاربر
            </h5>

        </div>


        <div class="card-body text-center">


            <div class="mb-4">

                <span style="font-size:50px;">
                    ⚠️
                </span>

            </div>


            <div class="alert alert-warning">

                آیا از حذف کاربر

                <strong>
                    {{ object.username }}
                </strong>

                مطمئن هستید؟

                <br>

                <small class="text-danger">
                    این عملیات قابل بازگشت نیست.
                </small>

            </div>


            <form method="post">

                {% csrf_token %}


                <button type="submit"
                        class="btn btn-danger px-4">

                    حذف کاربر

                </button>


                <a href="{% url 'user-list' %}"
                   class="btn btn-secondary px-4">

                    انصراف

                </a>


            </form>


        </div>

    </div>

</div>

{% endblock %}