{% extends "shared/_admin_layout.html" %}
{% block sidebar %}

    {% include "shared/_admin_sidebar.html" %}

{% endblock %}

{% block title %}
تغییر رمز عبور
{% endblock %}

{% block content %}

<div class="card shadow">

    <div class="card-header">

        <h4>
            تغییر رمز عبور
        </h4>

    </div>

    <div class="card-body">

        <form method="post">

            {% csrf_token %}

            {{ form.as_p }}

            <button
                    class="btn btn-success"
                    type="submit">

                ذخیره رمز جدید

            </button>

            <a
                    href="{% url 'profile' %}"
                    class="btn btn-secondary">

                بازگشت

            </a>

        </form>

    </div>

</div>

{% endblock %}