{% extends "shared/_admin_layout.html" %}
{% block sidebar %}
    {% include "shared/_admin_sidebar.html" %}
{% endblock %}
{% block content %}

<div class="container mt-4">

    <h3>حذف ناشر</h3>

    <hr>

    <p>

        آیا از حذف

        <strong>{{ object.name }}</strong>

        مطمئن هستید؟

    </p>

    <form method="post">

        {% csrf_token %}

        <button class="btn btn-danger">

            حذف

        </button>

        <a href="{% url 'admin-publisher-list' %}" class="btn btn-secondary">

            انصراف

        </a>

    </form>

</div>

{% endblock %}