{% extends "shared/_layout.html" %}

{% block title %}
درباره پروژه
{% endblock %}

{% block content %}

<div class="card">

    <div class="card-body">

        <h2>درباره سیستم مدیریت کتابخانه</h2>

        <hr>

        <p>

            این پروژه با استفاده از Django 6 و Python 3
            بر اساس معماری MVT توسعه داده شده است.

        </p>

        <p>

            هدف پروژه، مدیریت کتاب‌ها، کاربران و فرآیند
            امانت گرفتن کتاب‌ها است.

        </p>

    </div>

</div>

{% endblock %}
