{% extends "shared/_layout.html" %}

{% block title %}
404 | صفحه پیدا نشد
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-8">

            <div class="card shadow border-0 text-center p-5">

                <div class="mb-4">

                    <img
                        src="https://cdn-icons-png.flaticon.com/512/2748/2748558.png"
                        alt="404"
                        style="width:180px;"
                    >

                </div>


                <h1 class="display-1 fw-bold text-danger">
                    404
                </h1>


                <h3 class="mb-3">
                    صفحه مورد نظر پیدا نشد!
                </h3>


                <p class="text-muted fs-5">

                    ممکن است آدرس وارد شده اشتباه باشد
                    یا صفحه مورد نظر حذف شده باشد.

                </p>


                <div class="mt-4">

                    <a
                        href="{% url 'home' %}"
                        class="btn btn-primary px-4 py-2">

                        🏠 بازگشت به صفحه اصلی

                    </a>

                </div>


            </div>

        </div>

    </div>

</div>

{% endblock %}