{% extends "shared/_admin_layout.html" %}

{% block sidebar %}
    {% include "shared/_admin_sidebar.html" %}
{% endblock %}
{% block title %}
بایگانی کتاب
{% endblock %}

{% block content %}

<div class="container mt-4">

    <div class="card shadow-sm border-0">

        <div class="card-body text-center">

            <h4 class="mb-4">
                آیا می‌خواهید این کتاب را بایگانی کنید؟
            </h4>

            <p class="text-muted">
                کتاب از لیست کتاب‌های فعال خارج می‌شود اما بعداً قابل بازیابی خواهد بود.
            </p>

            <form method="post">

                {% csrf_token %}

                <button type="submit" class="btn btn-info">

                    بایگانی

                </button>

                <a href="{% url 'admin-book-list' %}"
                   class="btn btn-secondary">

                    انصراف

                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}